USE [AutoNegotiatorDB]
GO
/****** Object:  Table [dbo].[BestTimeToContact]    Script Date: 2019/04/25 21:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BestTimeToContact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BestTimeToContact] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bids]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bids](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dealerId] [int] NULL,
	[requestId] [int] NOT NULL,
	[bidAmount] [int] NULL,
	[isWinningBid] [bit] NULL,
	[bidCreatedDate] [datetime] NULL,
	[winningDate] [datetime] NULL,
	[isDealerInterested] [bit] NULL,
	[dealerComments] [nvarchar](3000) NULL,
	[adminComments] [nvarchar](3000) NULL,
	[adminId] [nvarchar](3000) NULL,
	[bidUpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Bids] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarMakes]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarMakes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[makeName] [nvarchar](50) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_CarMakes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarModels]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarModels](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[carMakeId] [int] NOT NULL,
	[carModelName] [nvarchar](100) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_CarModels] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarRequests]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarRequests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[carVariantId] [int] NOT NULL,
	[clientId] [int] NOT NULL,
	[requestedDate] [datetime] NOT NULL,
	[deliveryRequestDate] [datetime] NOT NULL,
	[colorChoice1Id] [int] NULL,
	[colorChoice2Id] [int] NULL,
	[colorChoice3Id] [int] NULL,
	[canOfferDifferentColor] [bit] NOT NULL,
	[paymentMethodId] [int] NULL,
	[financeApproved] [bit] NOT NULL,
	[financeHouseId] [int] NULL,
	[depositAmount] [int] NULL,
	[tradeinVehicleAvailable] [bit] NOT NULL,
	[tradeinMakeId] [int] NULL,
	[tradeinModelId] [int] NULL,
	[tradeinVariantId] [int] NULL,
	[tradeinYearId] [int] NULL,
	[tradeinFuelId] [int] NULL,
	[tradeinDescription] [nvarchar](3000) NULL,
	[tradeinValue] [int] NULL,
	[tradeinKMs] [int] NULL,
	[clientComments] [nvarchar](3000) NULL,
	[isRequestActive] [bit] NOT NULL,
	[winningBidId] [int] NULL,
	[clientAcceptedWinningBid] [bit] NULL,
	[actualSellingPrice] [int] NULL,
	[commissionCalculated] [int] NULL,
	[commisionReceived] [int] NULL,
	[AdminComments] [nvarchar](3000) NULL,
	[isRequestClosed] [bit] NOT NULL,
 CONSTRAINT [PK_CarRequests] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarVariantFuels]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarVariantFuels](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CarVariantFuels] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarVariants]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarVariants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[carModelId] [int] NOT NULL,
	[carVariantName] [varchar](300) NOT NULL,
	[isActive] [bit] NOT NULL,
	[AveragePrice] [int] NULL,
	[BodyType] [varchar](300) NULL,
	[Cylinder_layout_quantity] [varchar](300) NULL,
	[Drive] [varchar](300) NULL,
	[Engine_capacity] [varchar](300) NULL,
	[Engine_detail] [varchar](300) NULL,
	[Engine_size_litre] [varchar](300) NULL,
	[Fuel_tank_capacity_incl_reserve] [varchar](300) NULL,
	[Fuel_type] [varchar](300) NULL,
	[Gears] [varchar](300) NULL,
	[Gearshift_paddles] [varchar](300) NULL,
	[Low_range] [varchar](300) NULL,
	[No_of_doors] [varchar](300) NULL,
	[Sunroof] [varchar](300) NULL,
	[Gearbox] [varchar](300) NULL,
	[Transmission_name] [varchar](300) NULL,
	[Turbocharger] [varchar](300) NULL,
	[Air_conditioning] [varchar](300) NULL,
	[Aux_in_auxiliary_input_jack] [varchar](300) NULL,
	[Bluetooth_connectivity] [varchar](300) NULL,
	[Camera_for_park_distance_control] [varchar](300) NULL,
	[Climate_control__automatic_air_conditioning] [varchar](300) NULL,
	[Cruise_control] [varchar](300) NULL,
	[Electric_steering_column_adjustment] [varchar](300) NULL,
	[Electric_adjust_mirrors] [varchar](300) NULL,
	[Engine_auto_StopStart__idle_stop__eco_stop] [varchar](300) NULL,
	[Maintenance_plan] [varchar](300) NULL,
	[Maintenance_plan_distance] [varchar](300) NULL,
	[Maintenance_plan_time_years] [varchar](300) NULL,
	[Multi_function_steering_wheel_controls] [varchar](300) NULL,
	[Navigation] [varchar](300) NULL,
	[Park_distance_control_PDC___front] [varchar](300) NULL,
	[Park_distance_control_PDC___rear] [varchar](300) NULL,
	[Power_steering] [varchar](300) NULL,
	[Service_interval_distance] [varchar](300) NULL,
	[USB_port] [varchar](300) NULL,
	[Voice_control] [varchar](300) NULL,
	[Warranty_distance] [varchar](300) NULL,
	[Warranty_time_years] [varchar](300) NULL,
	[Acceleration_0100km_h] [varchar](300) NULL,
	[Co2_emissions] [varchar](300) NULL,
	[Engine_position_location] [varchar](300) NULL,
	[Fuel_range_average] [varchar](300) NULL,
	[Fuel_consumption_average] [varchar](300) NULL,
	[Maximum_top_speed] [varchar](300) NULL,
	[Power_maximum_detail] [varchar](300) NULL,
	[Power_peak_revs] [varchar](300) NULL,
	[Torque_maximum] [varchar](300) NULL,
	[Torque_peak_revs] [varchar](300) NULL,
	[CD_player] [varchar](300) NULL,
	[Electric_seat_adjustment_driver] [varchar](300) NULL,
	[Electric_seat_adjustment_front_passenger] [varchar](300) NULL,
	[Electric_windows] [varchar](300) NULL,
	[Folding_rear_seat] [varchar](300) NULL,
	[Heated_seats___front] [varchar](300) NULL,
	[ISOFIX_child_seat_mountings] [varchar](300) NULL,
	[Leather_upholstery] [varchar](300) NULL,
	[On_board_computer__multi_information_display] [varchar](300) NULL,
	[Seats] [varchar](300) NULL,
	[Split_rear_seat] [varchar](300) NULL,
	[Ventilated_seats___front] [varchar](300) NULL,
	[Airbag_quantity] [varchar](300) NULL,
	[Anti_lock_braking_system_ABS] [varchar](300) NULL,
	[Autodim_exterior_mirrors] [varchar](300) NULL,
	[Autodim_interior_mirror] [varchar](300) NULL,
	[Brake_assist_BASEBA] [varchar](300) NULL,
	[Curtain_airbags] [varchar](300) NULL,
	[Daytime_drivingrunning_lights] [varchar](300) NULL,
	[Diff_lock___centre] [varchar](300) NULL,
	[Diff_lock___front] [varchar](300) NULL,
	[Diff_lock___rear] [varchar](300) NULL,
	[Driver_airbag] [varchar](300) NULL,
	[Electronic_brake_distribution_EBD] [varchar](300) NULL,
	[Emergency_brake_hazard_lights] [varchar](300) NULL,
	[Front_fog_lampslights] [varchar](300) NULL,
	[Front_passenger_airbag] [varchar](300) NULL,
	[High_level_3rd_brake_light] [varchar](300) NULL,
	[Hill_start_assist__hill_holder] [varchar](300) NULL,
	[Lane_change__blind_spot_warningassistmonitor] [varchar](300) NULL,
	[Light_sensor__automatic_light_control_auto_on_off_lights] [varchar](300) NULL,
	[Rain_sensor_auto_wipers] [varchar](300) NULL,
	[Remote_central_locking] [varchar](300) NULL,
	[Stability_control] [varchar](300) NULL,
	[Traction_control] [varchar](300) NULL,
	[Tyre_pressure_sensormonitor__deflation_detection_system] [varchar](300) NULL,
	[Xenon_headlights] [varchar](300) NULL,
	[Alloy_wheelsrims] [varchar](300) NULL,
	[Approach_angle] [varchar](300) NULL,
	[Axle_configuration] [varchar](300) NULL,
	[Breakover_ramp_angle] [varchar](300) NULL,
	[Departure_angle] [varchar](300) NULL,
	[Front_tyres] [varchar](300) NULL,
	[Gross_weight_GVM] [varchar](300) NULL,
	[Ground_clearance_minimummaximum] [varchar](300) NULL,
	[Height] [varchar](300) NULL,
	[Length] [varchar](300) NULL,
	[Rear_tyres] [varchar](300) NULL,
	[Wheelbase] [varchar](300) NULL,
	[Width_excl_mirrors_incl_mirrors] [varchar](300) NULL,
 CONSTRAINT [PK_CarVariants] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarVariantYears]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarVariantYears](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_CarVariantYears] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientLogins]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientLogins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[clientId] [int] NOT NULL,
	[logintime] [datetime] NOT NULL,
	[logouttime] [datetime] NULL,
 CONSTRAINT [PK_ClientLogins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titleId] [int] NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NULL,
	[contactNumber] [nvarchar](50) NULL,
	[bestTimeToContactId] [int] NOT NULL,
	[emailAddress] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[rememberMe] [bit] NULL,
	[isEmailConfirmed] [bit] NULL,
	[provinceId] [int] NOT NULL,
	[townId] [int] NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[modifiedDate] [datetime] NULL,
	[lastLoginDate] [datetime] NULL,
	[bidemailnotify] [bit] NOT NULL,
	[bidsmsnotify] [bit] NOT NULL,
	[closenextdayemailnotify] [bit] NOT NULL,
	[closenextdaysmsnotify] [bit] NOT NULL,
	[closedemailnotify] [bit] NOT NULL,
	[closedsmsnotify] [bit] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Colors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[countryCode] [nvarchar](3) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DealerLogins]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealerLogins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[dealerId] [int] NOT NULL,
	[logintime] [datetime] NOT NULL,
	[logouttime] [datetime] NULL,
 CONSTRAINT [PK_DealerLogins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DealerMakes]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealerMakes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[dealerId] [int] NOT NULL,
	[carMakeId] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_DealerMakes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DealerProvinces]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealerProvinces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[dealerId] [int] NOT NULL,
	[provinceId] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_DealerProvinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dealers]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dealers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titleId] [int] NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[MobileNumber] [nvarchar](50) NOT NULL,
	[TelephoneNumber] [nvarchar](50) NOT NULL,
	[emailAddress] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[rememberMe] [bit] NOT NULL,
	[isEmailConfirmed] [bit] NOT NULL,
	[provinceId] [int] NOT NULL,
	[townId] [int] NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[modifiedDate] [datetime] NOT NULL,
	[lastLoginDate] [datetime] NULL,
	[isActive] [bit] NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[businessName] [nvarchar](100) NOT NULL,
	[registrationNumber] [nvarchar](100) NOT NULL,
	[VATNumber] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[paymentGatewayId] [int] NOT NULL,
	[newlistemailnotify] [bit] NOT NULL,
	[newlistsmsnotify] [bit] NOT NULL,
	[lowerbidemailnotify] [bit] NOT NULL,
	[lowerbidsmsnotify] [bit] NOT NULL,
	[closenextdayemailnotify] [bit] NOT NULL,
	[closenextdaysmsnotify] [bit] NOT NULL,
	[closedemailnotify] [bit] NOT NULL,
	[closedsmsnotify] [bit] NOT NULL,
 CONSTRAINT [PK_Dealers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faq_Types]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faq_Types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Faq_Types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faqs]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faqs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[faqtypeId] [int] NOT NULL,
	[question] [nvarchar](1000) NOT NULL,
	[answer] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_Faqs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinanceHouse]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceHouse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FinanceHouse] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentGateway]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentGateway](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentGateway] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[countryId] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Titles]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Titles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Titles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Towns]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Towns](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[provinceId] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Towns] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[logintime] [datetime] NOT NULL,
	[logouttime] [datetime] NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titleId] [int] NULL,
	[userTypeId] [int] NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NULL,
	[contactNumber] [nvarchar](50) NULL,
	[emailAddress] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[rememberMe] [bit] NULL,
	[provinceId] [int] NOT NULL,
	[townId] [int] NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[modifiedDate] [datetime] NULL,
	[lastLoginDate] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_Email] UNIQUE NONCLUSTERED 
(
	[emailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 2019/04/25 21:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bids]  WITH CHECK ADD  CONSTRAINT [FK_Bids_CarRequest] FOREIGN KEY([requestId])
REFERENCES [dbo].[CarRequests] ([id])
GO
ALTER TABLE [dbo].[Bids] CHECK CONSTRAINT [FK_Bids_CarRequest]
GO
ALTER TABLE [dbo].[Bids]  WITH CHECK ADD  CONSTRAINT [FK_Bids_Dealer] FOREIGN KEY([dealerId])
REFERENCES [dbo].[Dealers] ([id])
GO
ALTER TABLE [dbo].[Bids] CHECK CONSTRAINT [FK_Bids_Dealer]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequest_Client] FOREIGN KEY([clientId])
REFERENCES [dbo].[Clients] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequest_Client]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequest_TradeInCarMake] FOREIGN KEY([tradeinMakeId])
REFERENCES [dbo].[CarMakes] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequest_TradeInCarMake]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequest_TradeInCarModel] FOREIGN KEY([tradeinModelId])
REFERENCES [dbo].[CarModels] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequest_TradeInCarModel]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequest_TradeInCarVariant] FOREIGN KEY([tradeinVariantId])
REFERENCES [dbo].[CarVariants] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequest_TradeInCarVariant]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequests_CarVariantFuels_TradeInFuelId] FOREIGN KEY([tradeinFuelId])
REFERENCES [dbo].[CarVariantFuels] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequests_CarVariantFuels_TradeInFuelId]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequests_CarVariants] FOREIGN KEY([carVariantId])
REFERENCES [dbo].[CarVariants] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequests_CarVariants]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequests_CarVariantYears_TradeinYearId] FOREIGN KEY([tradeinYearId])
REFERENCES [dbo].[CarVariantYears] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequests_CarVariantYears_TradeinYearId]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequests_Colors_Color1] FOREIGN KEY([colorChoice1Id])
REFERENCES [dbo].[Colors] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequests_Colors_Color1]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequests_Colors_Color2] FOREIGN KEY([colorChoice2Id])
REFERENCES [dbo].[Colors] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequests_Colors_Color2]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequests_Colors_Color3] FOREIGN KEY([colorChoice3Id])
REFERENCES [dbo].[Colors] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequests_Colors_Color3]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequests_FinanceHouse] FOREIGN KEY([financeHouseId])
REFERENCES [dbo].[FinanceHouse] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequests_FinanceHouse]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequests_PaymentMethod] FOREIGN KEY([paymentMethodId])
REFERENCES [dbo].[PaymentMethod] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequests_PaymentMethod]
GO
ALTER TABLE [dbo].[CarRequests]  WITH CHECK ADD  CONSTRAINT [FK_CarRequests_WinningBid] FOREIGN KEY([winningBidId])
REFERENCES [dbo].[Bids] ([id])
GO
ALTER TABLE [dbo].[CarRequests] CHECK CONSTRAINT [FK_CarRequests_WinningBid]
GO
ALTER TABLE [dbo].[CarVariants]  WITH CHECK ADD  CONSTRAINT [FK_CarVariant_CarModel] FOREIGN KEY([carModelId])
REFERENCES [dbo].[CarModels] ([id])
GO
ALTER TABLE [dbo].[CarVariants] CHECK CONSTRAINT [FK_CarVariant_CarModel]
GO
ALTER TABLE [dbo].[ClientLogins]  WITH CHECK ADD  CONSTRAINT [FK_ClientLogins_Client] FOREIGN KEY([clientId])
REFERENCES [dbo].[Clients] ([id])
GO
ALTER TABLE [dbo].[ClientLogins] CHECK CONSTRAINT [FK_ClientLogins_Client]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Client_Town] FOREIGN KEY([townId])
REFERENCES [dbo].[Towns] ([id])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Client_Town]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_BestTimeToContact] FOREIGN KEY([bestTimeToContactId])
REFERENCES [dbo].[BestTimeToContact] ([id])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_BestTimeToContact]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Provinces] FOREIGN KEY([provinceId])
REFERENCES [dbo].[Provinces] ([id])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Provinces]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Titles] FOREIGN KEY([titleId])
REFERENCES [dbo].[Titles] ([id])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Titles]
GO
ALTER TABLE [dbo].[DealerLogins]  WITH CHECK ADD  CONSTRAINT [FK_DealerLogins_Dealer] FOREIGN KEY([dealerId])
REFERENCES [dbo].[Dealers] ([id])
GO
ALTER TABLE [dbo].[DealerLogins] CHECK CONSTRAINT [FK_DealerLogins_Dealer]
GO
ALTER TABLE [dbo].[DealerMakes]  WITH CHECK ADD  CONSTRAINT [FK_DealerMakes_CarMake] FOREIGN KEY([carMakeId])
REFERENCES [dbo].[CarMakes] ([id])
GO
ALTER TABLE [dbo].[DealerMakes] CHECK CONSTRAINT [FK_DealerMakes_CarMake]
GO
ALTER TABLE [dbo].[DealerMakes]  WITH CHECK ADD  CONSTRAINT [FK_DealerMakes_Dealer] FOREIGN KEY([dealerId])
REFERENCES [dbo].[Dealers] ([id])
GO
ALTER TABLE [dbo].[DealerMakes] CHECK CONSTRAINT [FK_DealerMakes_Dealer]
GO
ALTER TABLE [dbo].[DealerProvinces]  WITH CHECK ADD  CONSTRAINT [FK_DealerProvince_Dealer] FOREIGN KEY([dealerId])
REFERENCES [dbo].[Dealers] ([id])
GO
ALTER TABLE [dbo].[DealerProvinces] CHECK CONSTRAINT [FK_DealerProvince_Dealer]
GO
ALTER TABLE [dbo].[DealerProvinces]  WITH CHECK ADD  CONSTRAINT [FK_DealerProvince_Province] FOREIGN KEY([provinceId])
REFERENCES [dbo].[Provinces] ([id])
GO
ALTER TABLE [dbo].[DealerProvinces] CHECK CONSTRAINT [FK_DealerProvince_Province]
GO
ALTER TABLE [dbo].[Dealers]  WITH CHECK ADD  CONSTRAINT [FK_Dealer_Town] FOREIGN KEY([townId])
REFERENCES [dbo].[Towns] ([id])
GO
ALTER TABLE [dbo].[Dealers] CHECK CONSTRAINT [FK_Dealer_Town]
GO
ALTER TABLE [dbo].[Dealers]  WITH CHECK ADD  CONSTRAINT [FK_Dealers_PaymentGateway] FOREIGN KEY([paymentGatewayId])
REFERENCES [dbo].[PaymentGateway] ([id])
GO
ALTER TABLE [dbo].[Dealers] CHECK CONSTRAINT [FK_Dealers_PaymentGateway]
GO
ALTER TABLE [dbo].[Dealers]  WITH CHECK ADD  CONSTRAINT [FK_Dealers_Provinces] FOREIGN KEY([provinceId])
REFERENCES [dbo].[Provinces] ([id])
GO
ALTER TABLE [dbo].[Dealers] CHECK CONSTRAINT [FK_Dealers_Provinces]
GO
ALTER TABLE [dbo].[Dealers]  WITH CHECK ADD  CONSTRAINT [FK_Dealers_Titles] FOREIGN KEY([titleId])
REFERENCES [dbo].[Titles] ([id])
GO
ALTER TABLE [dbo].[Dealers] CHECK CONSTRAINT [FK_Dealers_Titles]
GO
ALTER TABLE [dbo].[Faqs]  WITH CHECK ADD  CONSTRAINT [FK_Faqs_Faq_Types] FOREIGN KEY([faqtypeId])
REFERENCES [dbo].[Faq_Types] ([id])
GO
ALTER TABLE [dbo].[Faqs] CHECK CONSTRAINT [FK_Faqs_Faq_Types]
GO
ALTER TABLE [dbo].[Provinces]  WITH CHECK ADD  CONSTRAINT [FK_Province_Country] FOREIGN KEY([countryId])
REFERENCES [dbo].[Countries] ([id])
GO
ALTER TABLE [dbo].[Provinces] CHECK CONSTRAINT [FK_Province_Country]
GO
ALTER TABLE [dbo].[Towns]  WITH CHECK ADD  CONSTRAINT [FK_Town_Province] FOREIGN KEY([provinceId])
REFERENCES [dbo].[Provinces] ([id])
GO
ALTER TABLE [dbo].[Towns] CHECK CONSTRAINT [FK_Town_Province]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_User] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Provinces] FOREIGN KEY([provinceId])
REFERENCES [dbo].[Provinces] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Provinces]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Towns] FOREIGN KEY([townId])
REFERENCES [dbo].[Towns] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Towns]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserTypes] FOREIGN KEY([userTypeId])
REFERENCES [dbo].[UserTypes] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserTypes]
GO


SET IDENTITY_INSERT [dbo].[BestTimeToContact] ON 

INSERT [dbo].[BestTimeToContact] ([id], [Value]) VALUES (1, N'office hours')
INSERT [dbo].[BestTimeToContact] ([id], [Value]) VALUES (2, N'non office hours')
INSERT [dbo].[BestTimeToContact] ([id], [Value]) VALUES (3, N'any time')
SET IDENTITY_INSERT [dbo].[BestTimeToContact] OFF
SET IDENTITY_INSERT [dbo].[Bids] ON 

INSERT [dbo].[Bids] ([id], [dealerId], [requestId], [bidAmount], [isWinningBid], [bidCreatedDate], [winningDate], [isDealerInterested], [dealerComments], [adminComments], [adminId], [bidUpdatedDate]) VALUES (4919, 3, 51, 20000, NULL, CAST(N'2018-11-21T22:30:54.193' AS DateTime), NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Bids] ([id], [dealerId], [requestId], [bidAmount], [isWinningBid], [bidCreatedDate], [winningDate], [isDealerInterested], [dealerComments], [adminComments], [adminId], [bidUpdatedDate]) VALUES (4920, 4, 51, 19999, 1, CAST(N'2018-11-21T22:31:23.077' AS DateTime), NULL, 1, NULL, NULL, NULL, CAST(N'2018-11-21T22:31:34.763' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bids] OFF
SET IDENTITY_INSERT [dbo].[CarMakes] ON 

INSERT [dbo].[CarMakes] ([id], [makeName], [isActive]) VALUES (1, N'Abarth', 1)
INSERT [dbo].[CarMakes] ([id], [makeName], [isActive]) VALUES (2, N'Alfa Romeo', 1)
INSERT [dbo].[CarMakes] ([id], [makeName], [isActive]) VALUES (3, N'Aston Martin', 1)
SET IDENTITY_INSERT [dbo].[CarMakes] OFF
SET IDENTITY_INSERT [dbo].[CarModels] ON 

INSERT [dbo].[CarModels] ([id], [carMakeId], [carModelName], [isActive]) VALUES (1, 1, N'124 spider', 1)
INSERT [dbo].[CarModels] ([id], [carMakeId], [carModelName], [isActive]) VALUES (2, 1, N'595', 1)
INSERT [dbo].[CarModels] ([id], [carMakeId], [carModelName], [isActive]) VALUES (3, 2, N'4C', 1)
GO
SET IDENTITY_INSERT [dbo].[CarModels] OFF
SET IDENTITY_INSERT [dbo].[CarRequests] ON 

SET IDENTITY_INSERT [dbo].[CarRequests] OFF
SET IDENTITY_INSERT [dbo].[CarVariantFuels] ON 

INSERT [dbo].[CarVariantFuels] ([id], [value]) VALUES (1, N'petrol')
INSERT [dbo].[CarVariantFuels] ([id], [value]) VALUES (2, N'diesel')
SET IDENTITY_INSERT [dbo].[CarVariantFuels] OFF
SET IDENTITY_INSERT [dbo].[CarVariants] ON 

INSERT [dbo].[CarVariants] ([id], [carModelId], [carVariantName], [isActive], [AveragePrice]) VALUES (1, 1, N'124 spider turismo', 1, NULL)
INSERT [dbo].[CarVariants] ([id], [carModelId], [carVariantName], [isActive], [AveragePrice]) VALUES (2, 1, N'124 spider', 1, NULL)
INSERT [dbo].[CarVariants] ([id], [carModelId], [carVariantName], [isActive], [AveragePrice]) VALUES (3, 2, N'500 595 1.4T', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[CarVariants] OFF
SET IDENTITY_INSERT [dbo].[CarVariantYears] ON 

INSERT [dbo].[CarVariantYears] ([id], [Value]) VALUES (1, 2018)
INSERT [dbo].[CarVariantYears] ([id], [Value]) VALUES (2, 2017)
INSERT [dbo].[CarVariantYears] ([id], [Value]) VALUES (3, 2016)
SET IDENTITY_INSERT [dbo].[CarVariantYears] OFF
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([id], [titleId], [firstName], [lastName], [contactNumber], [bestTimeToContactId], [emailAddress], [password], [rememberMe], [isEmailConfirmed], [provinceId], [townId], [createdDate], [modifiedDate], [lastLoginDate], [bidemailnotify], [bidsmsnotify], [closenextdayemailnotify], [closenextdaysmsnotify], [closedemailnotify], [closedsmsnotify]) VALUES (55, 1, N'Client1', N'Client1', N'743760126', 1, N'Client1@gmail.com', N'client123', NULL, NULL, 3, 68, CAST(N'2018-11-11T13:25:00.000' AS DateTime), NULL, NULL, 0, 1, 1, 1, 1, 0)
INSERT [dbo].[Clients] ([id], [titleId], [firstName], [lastName], [contactNumber], [bestTimeToContactId], [emailAddress], [password], [rememberMe], [isEmailConfirmed], [provinceId], [townId], [createdDate], [modifiedDate], [lastLoginDate], [bidemailnotify], [bidsmsnotify], [closenextdayemailnotify], [closenextdaysmsnotify], [closedemailnotify], [closedsmsnotify]) VALUES (56, 1, N'Client2', N'Client2', N'743760126', 1, N'Client2@gmail.com', N'client123', NULL, NULL, 3, 68, CAST(N'2018-11-11T13:25:00.000' AS DateTime), NULL, NULL, 0, 1, 1, 1, 1, 0)
INSERT [dbo].[Clients] ([id], [titleId], [firstName], [lastName], [contactNumber], [bestTimeToContactId], [emailAddress], [password], [rememberMe], [isEmailConfirmed], [provinceId], [townId], [createdDate], [modifiedDate], [lastLoginDate], [bidemailnotify], [bidsmsnotify], [closenextdayemailnotify], [closenextdaysmsnotify], [closedemailnotify], [closedsmsnotify]) VALUES (57, 1, N'Client3', N'Client3', N'743760126', 1, N'Client3@gmail.com', N'client123', NULL, NULL, 3, 68, CAST(N'2018-11-11T13:25:00.000' AS DateTime), NULL, NULL, 0, 1, 1, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([id], [Value]) VALUES (1, N'white')
INSERT [dbo].[Colors] ([id], [Value]) VALUES (2, N'blue')
INSERT [dbo].[Colors] ([id], [Value]) VALUES (3, N'red')
SET IDENTITY_INSERT [dbo].[Colors] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([id], [countryCode], [Name], [isActive]) VALUES (1, N'ZA', N'South Africa', 1)
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[DealerMakes] ON 

INSERT [dbo].[DealerMakes] ([Id], [dealerId], [carMakeId], [isActive]) VALUES (17, 3, 1, 1)
INSERT [dbo].[DealerMakes] ([Id], [dealerId], [carMakeId], [isActive]) VALUES (19, 5, 3, 1)
INSERT [dbo].[DealerMakes] ([Id], [dealerId], [carMakeId], [isActive]) VALUES (67, 3, 6, 1)
GO
SET IDENTITY_INSERT [dbo].[DealerMakes] OFF
SET IDENTITY_INSERT [dbo].[DealerProvinces] ON 

INSERT [dbo].[DealerProvinces] ([Id], [dealerId], [provinceId], [isActive]) VALUES (8, 3, 1, 1)
INSERT [dbo].[DealerProvinces] ([Id], [dealerId], [provinceId], [isActive]) VALUES (9, 4, 2, 1)
INSERT [dbo].[DealerProvinces] ([Id], [dealerId], [provinceId], [isActive]) VALUES (10, 5, 3, 1)
SET IDENTITY_INSERT [dbo].[DealerProvinces] OFF
SET IDENTITY_INSERT [dbo].[Dealers] ON 

SET IDENTITY_INSERT [dbo].[Dealers] OFF
SET IDENTITY_INSERT [dbo].[Faq_Types] ON 

INSERT [dbo].[Faq_Types] ([id], [Value]) VALUES (1, N'clientfaq')
INSERT [dbo].[Faq_Types] ([id], [Value]) VALUES (2, N'dealerfaq')
INSERT [dbo].[Faq_Types] ([id], [Value]) VALUES (3, N'adminfaq')
SET IDENTITY_INSERT [dbo].[Faq_Types] OFF
SET IDENTITY_INSERT [dbo].[Faqs] ON 

INSERT [dbo].[Faqs] ([id], [faqtypeId], [question], [answer]) VALUES (1, 1, N'How does AutoNegotiator make money?', N' AutoNegotiator receive a modest commission from the winning dealer.')
INSERT [dbo].[Faqs] ([id], [faqtypeId], [question], [answer]) VALUES (2, 1, N'What happens to my trade in?', N' AutoNegotiator sees the trade in/second hand vehicle as a separate transaction. The best deals are done when dealer does not have to equity the risk involved in a used car into the pricing of the new one. With the multitude of used car selling/buying sites available we could recommend someone if need be. We have relationships with some of the sites.')
INSERT [dbo].[Faqs] ([id], [faqtypeId], [question], [answer]) VALUES (3, 1, N'What personal information do I need to give?', N' We just require your contact info. Thus we require your Name, Surname and Contact Details.')
SET IDENTITY_INSERT [dbo].[Faqs] OFF
SET IDENTITY_INSERT [dbo].[FinanceHouse] ON 

INSERT [dbo].[FinanceHouse] ([id], [Value]) VALUES (1, N'absa')
INSERT [dbo].[FinanceHouse] ([id], [Value]) VALUES (2, N'standard bank')
INSERT [dbo].[FinanceHouse] ([id], [Value]) VALUES (3, N'wesbank')
SET IDENTITY_INSERT [dbo].[FinanceHouse] OFF
SET IDENTITY_INSERT [dbo].[PaymentGateway] ON 

INSERT [dbo].[PaymentGateway] ([id], [Value]) VALUES (1, N'Seriti')
INSERT [dbo].[PaymentGateway] ([id], [Value]) VALUES (2, N'Signio')
INSERT [dbo].[PaymentGateway] ([id], [Value]) VALUES (3, N'Dealernet')
SET IDENTITY_INSERT [dbo].[PaymentGateway] OFF
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([id], [Value]) VALUES (1, N'cash')
INSERT [dbo].[PaymentMethod] ([id], [Value]) VALUES (2, N'finance')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([id], [countryId], [name]) VALUES (1, 1, N'Eastern Cape')
INSERT [dbo].[Provinces] ([id], [countryId], [name]) VALUES (2, 1, N'Free State')
INSERT [dbo].[Provinces] ([id], [countryId], [name]) VALUES (3, 1, N'Gauteng')
SET IDENTITY_INSERT [dbo].[Provinces] OFF
SET IDENTITY_INSERT [dbo].[Titles] ON 

INSERT [dbo].[Titles] ([id], [Value]) VALUES (1, N'Mr')
INSERT [dbo].[Titles] ([id], [Value]) VALUES (2, N'Mrs')
INSERT [dbo].[Titles] ([id], [Value]) VALUES (3, N'Other')
SET IDENTITY_INSERT [dbo].[Titles] OFF
SET IDENTITY_INSERT [dbo].[Towns] ON 

INSERT [dbo].[Towns] ([id], [provinceId], [name], [isActive]) VALUES (1, 1, N'Adelaide', 1)
INSERT [dbo].[Towns] ([id], [provinceId], [name], [isActive]) VALUES (2, 1, N'Alice', 1)
INSERT [dbo].[Towns] ([id], [provinceId], [name], [isActive]) VALUES (3, 1, N'Aliwal North', 1)
GO
SET IDENTITY_INSERT [dbo].[Towns] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [titleId], [userTypeId], [firstName], [lastName], [contactNumber], [emailAddress], [password], [rememberMe], [provinceId], [townId], [createdDate], [modifiedDate], [lastLoginDate]) VALUES (1, 1, 1, N'admin', N'admin', N'0743760125', N'admin@gmail.com', N'admin123', NULL, 3, 69, CAST(N'2018-11-15T11:13:47.260' AS DateTime), CAST(N'2018-11-15T11:13:47.260' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[UserTypes] ON 

INSERT [dbo].[UserTypes] ([id], [Value]) VALUES (1, N'admin')
INSERT [dbo].[UserTypes] ([id], [Value]) VALUES (2, N'agent')
INSERT [dbo].[UserTypes] ([id], [Value]) VALUES (3, N'superuser')
SET IDENTITY_INSERT [dbo].[UserTypes] OFF
