
@{
    ViewBag.Title = "Bids";
    Layout = "~/Views/Shared/_DealerLayout.cshtml";
}
<style>
    .pt-3-half {
        padding-top: 1.4rem;
    }
</style>
<div class="container-fluid">

    <div class="container-fluid">
        <!-- A Heading -->
        <br />
        <br />
        <div class="row">
            <div class="col-lg-12 text-center text-success">
                <h5 class="card-title text-center">Dealer - Open Deals</h5>
            </div>
        </div>
    </div>



    <!-- Editable table -->
    <div class="container-fluid card narrower">

        <div class="card-body">
            <div id="table" class="table-editable">
      
                <table class="table table-bordered  table-responsive-md table-striped text-center">
                    <tr>
                        <th class="text-center">Reference Number</th>
                        <th class="text-center">Car Make</th>
                        <th class="text-center">Car Model</th>
                        <th class="text-center">Car Variant</th>
                        <th class="text-center">Colors</th>
                        <th class="text-center">Finance Approved</th>
                        <th class="text-center">Province</th>
                        <th class="text-center">Town</th>
                        <th class="text-center">Request sent</th>
                        <th class="text-center">Biddable Till</th>
                        <th class="text-center">Winning Bid</th>
                        <th class="text-center">Your Bid&nbsp;<span class="badge mr-3 badge-pill badge-success">Bid here</span></th>
                        <th class="text-center">Submit Bid</th>
                        <th class="text-center">Remove</th>
                    </tr>
                    <tr>
                        <td><i class="fa fa-diamond mr-2 grey-text" aria-hidden="true"></i>Cell 1</td>
                        <td><i class="fa fa-download mr-2 grey-text" aria-hidden="true"></i>Cell 2</td>
                        <td><i class="fa fa-book mr-2 grey-text" aria-hidden="true"></i>Cell 3</td>

                        <td class="pt-3-half" contenteditable="false">320 D</td>
                        <td class="pt-3-half" contenteditable="false">Blue,Red,White</td>
                        <td class="pt-3-half" contenteditable="false"> <span class="badge mr-3 badge-pill badge-success">yes</span></td>
                        <td class="pt-3-half" contenteditable="false">Gauteng</td>
                        <td class="pt-3-half" contenteditable="false">Cresta</td>
                        <td class="pt-3-half" contenteditable="false">20-Sep-2018</td>
                        <td class="pt-3-half" contenteditable="false">30-Sep-2018</td>
                        <td class="pt-3-half" contenteditable="false">350,000</td>
                        <td class="pt-3-half" contenteditable="true"></td>
                        <td>
                            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Submit</button></span>
                        </td>

                        <td>
                            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-3-half" contenteditable="false">GAU-122</td>
                        <td class="pt-3-half" contenteditable="false">BMW</td>
                        <td class="pt-3-half" contenteditable="false">3 Series</td>
                        <td class="pt-3-half" contenteditable="false">320 D</td>
                        <td class="pt-3-half" contenteditable="false">Blue,Red,White</td>
                        <td class="pt-3-half" contenteditable="false"> <span class="badge mr-3 badge-pill badge-danger">No</span></td>
                        <td class="pt-3-half" contenteditable="false">Gauteng</td>
                        <td class="pt-3-half" contenteditable="false">Cresta</td>
                        <td class="pt-3-half" contenteditable="false">20-Sep-2018</td>
                        <td class="pt-3-half" contenteditable="false">30-Sep-2018</td>
                        <td class="pt-3-half" contenteditable="false">350,000</td>
                        <td class="pt-3-half" contenteditable="true"></td>
                        <td>
                            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Submit</button></span>
                        </td>

                        <td>
                            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-3-half" contenteditable="false">GAU-123</td>
                        <td class="pt-3-half" contenteditable="false">BMW</td>
                        <td class="pt-3-half" contenteditable="false">3 Series</td>
                        <td class="pt-3-half" contenteditable="false">320 D</td>
                        <td class="pt-3-half" contenteditable="false">Blue,Red,White</td>
                        <td class="pt-3-half" contenteditable="false"> <span class="badge mr-3 badge-pill badge-success">yes</span></td>
                        <td class="pt-3-half" contenteditable="false">Gauteng</td>
                        <td class="pt-3-half" contenteditable="false">Cresta</td>
                        <td class="pt-3-half" contenteditable="false">20-Sep-2018</td>
                        <td class="pt-3-half" contenteditable="false"><span class="badge mr-3 badge-pill badge-danger">Bid Expired</span></td>
                        <td class="pt-3-half" contenteditable="false">350,000</td>
                        <td class="pt-3-half" contenteditable="true"></td>
                        <td>
                            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0" disabled>Submit</button></span>
                        </td>

                        <td>
                            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <!-- Editable table -->

</div>
<!-- /.container -->
<br />
<br />  <br />  <br />  <br />  <br />  <br />  <br />  <br />  <br />