<div class="form-group row input-group">
    <div class="col-md-12 col-lg-12">
        &nbsp;
    </div>
    <div class="col-md-6 col-lg-6">
        &nbsp;
    </div>
    <div class="col-md-6 col-lg-6 justify-content-center align-self-center">
        &nbsp;
    </div>
</div>