<div class="form-group">

    <div class="row input-group">
        <div class="col-md-6 col-lg-4">
            <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit" value="Create">@Model</button>
        </div>
        <div class="col-md-6 col-lg-4">
           
        </div>

        <div class="col-md-6 col-lg-4">

        </div>
    </div>
</div>