 <!-- !Main Content -->

<div class="container">
    <!-- A Heading -->
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12 text-center text-success">
            <h5 class="card-title text-center">Terms and Conditions</h5>
        </div>
    </div>

    <hr>
    <br />

</div>
<!-- /.container -->

<div id="content" class="container">
    <div id="block-system-main" class="block block-system no-title odd first last block-count-2 block-region-content block-main">

        <article id="node-1" class="node node-article node-promoted article odd node-full ia-n clearfix" about="/terms-and-conditions" typeof="sioc:Item foaf:Document" role="article">
            <div class="node-content">
                <div class="field field-name-body field-type-text-with-summary field-label-hidden view-mode-full">
                    <div class="field-items">
                        <div class="field-item even" property="content:encoded">
                           
                            <p class="btp-all-caps btp-be-bold">Introduction</p>
                            <p>Auto Negotiator  (Pty) Ltd (registration number XXXXXX) (hereinafter referred to as “ANR”) is in the business of obtaining a customer’s new vehicle requirements and then finding that particular vehicle’s best price from vehicle dealers that are willing to participate in a reverse auction.</p>
                            <p>In addition ANR acts as a facilitator in relation to the provision of the financial products referred to on this website.</p>
                            <p class="btp-all-caps btp-be-bold">Terms of use</p>
                            <p>By using this website, you expressly agree to be bound by, and to comply with, these and any additional or amended terms and conditions that ANR may prescribe from time to time. ANR reserves the right to make changes to this website and these terms and conditions at any time. If you do not agree to all of the terms and conditions, please do not continue to use the website.</p>
                            <p class="btp-all-caps btp-be-bold">Financial Products</p>
                            <p>ANR acts solely as a facilitator in relation to the provision of the financial products referred to on this website. </p>
                            <p>The provision of these financial products is subject to the approvals criteria stipulated by the relevant third party product provider/s.</p>
                            <p>ANR has no authority to bind any third party product provider, nor does it purport to do so.</p>
                            <p>All information regarding the financial products referred to on this website, including information in respect of the terms and conditions applicable to such financial products and services, interest rates or any other matter is intended as a guideline only and is subject to change without notice.</p>
                            <p>The terms and conditions which will apply to any financial product purchased by the User from any third party product provider will be the terms and conditions set out in the written document relating to such financial product finally issued by the third party product provider at the time of purchase.</p>
                            <p>The User warrants that all information furnished by the User (whether in relation to the User or any other party) to ANR in order to obtain the financial products referred to on this website will be truthful, accurate, current and complete.</p>
                            <p class="btp-all-caps btp-be-bold">Liability disclaimer</p>
                            <p>The information materials and opinions contained on this website are for general information purposes only, are not intended to constitute legal or other professional advice, and should not be relied on or treated as a substitute for specific advice relevant to particular circumstances. You should seek specific advice on any matter that concerns you. Any reliance you place on such information is strictly at your own risk and ANR accepts no responsibility for any loss which may arise from reliance on information or materials published on this website.</p>
                            <p>ANR has taken reasonable measures to ensure the integrity of this website and its contents is complete, accurate and up to date. We make no guarantee about the suitability of the information and services on the website or whether they are complete accurate or appropriate.</p>
                            <p>No warranty, whether express or implied, is given that the website; the information, content, tools or materials included on the website; BPW’s servers; or any electronic communications sent by us are free from viruses, Trojans, bombs, time-locks or any other data or code which has the ability to corrupt or affect the operation of your system.</p>
                            <p>
                                ANR will not be responsible for any:-
                            </p><ul>
                                <li>interrupted, delayed or failed transmission, storage or delivery of information due to a power failure, equipment or software malfunction, natural disasters, fire, labour unrest, or any other cause beyond our reasonable control;</li>
                                <li>reliance on any of the information, content, tools or materials that is obtained from the website;</li>
                                <li>inaccurate, incomplete or inadequate information obtained from the website; or</li>
                                <li>links to other websites from BPW’s website. You acknowledge that we cannot control the content of or the products offered on those websites.</li>
                            </ul><p>In no event shall ANR and/or its directors, employees or suppliers be liable for any direct, indirect, punitive, incidental, special or consequential damages arising out of or in any way connected with the use or reliance of this website or any materials or information contained therein and/or transactions or actions resulting therefrom.</p>
                            <p>Such limitation shall also apply with respect to damages resulting from the inability to use this website, the operational failure of this website, or for any information obtained through this website, or otherwise arising out of the use of this website, whether based on contract, delict, strict liability or otherwise, even if ANR and/or any of its directors, employees or suppliers have been advised of the possibility of damages.</p>
                            <p>You agree to fully indemnify BPW, its directors and employees, and will not hold us responsible for any claim relating to your use of the website or from any errors or inaccuracies or incomplete information made available by third parties on the website.</p>
                            <p class="btp-all-caps btp-be-bold">Violation and waiver</p>
                            <p>If you breach any of these terms and conditions or any other rights of BPW, we reserve the right to pursue any and all legal and equitable remedies against you. If we should fail to enforce any right or provision in these terms and conditions, you agree that this failure does not constitute a waiver of such right or provision or of any other rights or provisions in these terms and conditions.</p>
                            <p>If a court should find that one or more rights or provisions set forth in these terms and conditions are invalid, you agree that the remainder of the terms and conditions shall be enforceable and that, to the extent permitted by law, the court shall give effect to the parties’ intentions, as reflected in any such right or provision that has been declared invalid or unenforceable.</p>
                            <p class="btp-all-caps btp-be-bold">Applicable law</p>
                            <p>These terms and conditions shall be governed by, and construed in accordance with, the laws of the Republic of South Africa without giving effect to the principles of conflicts of laws. You hereby consent to the exclusive jurisdiction of the High Court of the Republic of South Africa in respect of any disputes arising in connection with this website.</p>
                            <p class="btp-all-caps btp-be-bold">Data Privacy</p>
                            <p>ANR respects your privacy and your personal information and for this reason, we take care to protect your personal information and to keep it confidential. Whenever you use this website, contact ANR electronically or use any of our services or tools provided on the website, ANR will collect your personal information. Your personal information will be collected for the following purposes:-</p>
                            <ul>
                                <li>for ANR to act on or respond to your instructions or requests;</li>
                                <li>anti-money laundering compliance;</li>
                                <li>to forward on to the relevant motor vehicle dealers;</li>
                                <li>to forward on to the relevant third party product providers as part of the relevant application process/es;</li>
                                <li>for sending you marketing and other business development related material which ANR believes may be of interest to you;</li>
                                <li>for purposes of market research; and</li>
                                <li>audit and compliance usage of the website.</li>
                            </ul><p>Except as provided above, we do not share personal information with third parties unless the person who has submitted the information has authorised us to do so or if we are required to by law.</p>
                            <p>You accept that we may store your personal information outside of the region or country that you may submit or use it in.</p>
                            <p>You can update your personal information at anytime by emailing <a href="mailto:info@autonegotiator.co.za">info@bestpricewins.co.za</a>.</p>
                            <p>ANR ensures that all information collected will be safely and securely stored. We protect your personal information by:-</p>
                            <ul>
                                <li>restricting access to personal information</li>
                                <li>maintaining technology products to prevent unauthorised computer access</li>
                                <li>securely destroying your personal information when it's no longer needed for our record retention purposes</li>
                            </ul><p>Take note that our website makes use of “cookies” to automatically collect non-personal browsing habits and click patterns and to provide you with certain features on the website.</p>
                            <p>If you do not wish for your information to be collected through the use of cookies, there is a simple procedure in most browsers that allows you to disable the cookie feature. If you do not disable the “cookie” feature, you consent to our use of the information collected by using that cookie.</p>
                            <p>This information is collected for analysis and evaluation in order to help us improve our site and the services and products we provide. This data will not be used in association with any other personal information.</p>
                            <p>When you visit BPW’s website, its’ servers will automatically record information that your browser sends whenever you visit a website, unless you disabled the “cookie” feature. This data may include:-</p>
                            <ul>
                                <li>your computer's IP address</li>
                                <li>browser type</li>
                                <li>webpage you were visiting before you came to our site</li>
                                <li>The time spent on those pages, items and information searched for on our site, access times and dates, and other statistics</li>
                            </ul><p class="btp-all-caps btp-be-bold">Anti-Money Laundering</p>
                            <p>In terms of anti-money laundering and counter terrorist financing legislation, we are required to obtain formal evidence of your identity together with supporting documentation before we can act and may also conduct checks using external electronic databases for this purpose. We are obliged to report suspicions of money laundering activity to our Money Laundering Compliance Officer or to the relevant external authorities, or both. We may have to stop work on a matter and may not be allowed to tell you if we make such a report. We will not be liable to you for the consequences of any such report made in good faith.</p>
                            <p class="btp-all-caps btp-be-bold">Abuse of website</p>
                            <p>The User may not use the website in any manner that could damage, disable, overburden, or impair any ANR server, or the network/s connected to any ANR server, or interfere with any other party's use of the website.</p>
                            <p>The User may not attempt to gain unauthorised access to any products, services, other accounts, computer systems or networks connected to any ANR server or to any of the products or services through hacking, password mining or any other means.</p>
                            <p>The User is expressly prohibited from posting on or transmitting to or from this website any unlawful, threatening, libelous, defamatory, obscene, scandalous, inflammatory, pornographic, or profane material, or any other content that could give rise to any civil or criminal liability under any law.</p>
                            <p>Without limiting the rights and remedies of BPW, ANR may deny the User access to all or part of this website without notice if the User engages in any conduct or activities that ANR believes in it sole and absolute discretion are contrary the import and intent of this restriction.</p>
                            <p class="btp-all-caps btp-be-bold">Intellectual property rights</p>
                            <p><u>Copyright</u></p>
                            <p>All information, databases and software included on this website are the property of ANR or its content suppliers and protected by local and international copyright laws.</p>
                            <p>Furthermore, the compilation (meaning the collection, arrangement and assembly) of all content on this website is the exclusive property of ANR and is protected by local and international copyright laws.</p>
                            <p>Without derogating from the above, we authorize you to view, copy, download to a local drive, print and distribute the content of this website, or parts thereof, provided that:</p>
                            <ul>
                                <li>such content is used for information purposes only;</li>
                                <li>such content is used for non-commercial purposes (you are expressly prohibited from incorporating any of the material from this website in any other work, publication or website of your own or belonging to another)</li>
                                <li>any reproduction of material from this website or portion thereof must include this notice in its entirety</li>
                            </ul><p><u>Trademark</u></p>
                            <p>Auto Negotiator © is a registered trademark.</p>
                        </div>
                    </div>
                </div>
            </div>



            <span property="dc:title" content="Terms and conditions" class="rdf-meta element-hidden"></span>
        </article>

    </div>
</div>

