
<div class="form-group row input-group">
    <div class="col-md-12 col-lg-12">
        <input type="checkbox" class="checkbox" id=@Html.NameFor(m => m).ToString()  name=@Html.NameFor(m => m).ToString() />
        @Html.LabelFor(model => model)   
    </div>
</div>