<div class="container-fluid card narrower">
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2">
                <a href="#!" class="text-success">
                    <i class="fa fa-plus fa-2x"
                       aria-hidden="true"></i>
                </a>
            </span>
            <table class="table table-bordered  table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">First name </th>
                    <th class="text-center">Last name</th>
                    <th class="text-center">Contact Number</th>
                    <th class="text-center">Delivery Date</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Province</th>
                    <th class="text-center">Town</th>
                </tr>
                <tr>
                    <td class="pt-3-half" contenteditable="false">Mr</td>
                    <td class="pt-3-half" contenteditable="false">Cedric </td>
                    <td class="pt-3-half" contenteditable="false">Kelly</td>
                    <td class="pt-3-half" contenteditable="false">0112123213</td>
                    <td class="pt-3-half" contenteditable="false">20-Sep-2018</td>
                    <td class="pt-3-half" contenteditable="false">cedrice@email.com</td>
                    <td class="pt-3-half" contenteditable="false">Gauteng</td>
                    <td class="pt-3-half" contenteditable="false">Cresta</td>
                </tr>
                <tr>
                    <td class="pt-3-half" contenteditable="false">Mr</td>
                    <td class="pt-3-half" contenteditable="false">Cedric </td>
                    <td class="pt-3-half" contenteditable="false">Kelly</td>
                    <td class="pt-3-half" contenteditable="false">0112123213</td>
                    <td class="pt-3-half" contenteditable="false">20-Sep-2018</td>
                    <td class="pt-3-half" contenteditable="false">cedrice@email.com</td>
                    <td class="pt-3-half" contenteditable="false">Gauteng</td>
                    <td class="pt-3-half" contenteditable="false">Cresta</td>
                </tr>
                <tr>
                    <td class="pt-3-half" contenteditable="false">Mr</td>
                    <td class="pt-3-half" contenteditable="false">Cedric </td>
                    <td class="pt-3-half" contenteditable="false">Kelly</td>
                    <td class="pt-3-half" contenteditable="false">0112123213</td>
                    <td class="pt-3-half" contenteditable="false">20-Sep-2018</td>
                    <td class="pt-3-half" contenteditable="false">cedrice@email.com</td>
                    <td class="pt-3-half" contenteditable="false">Gauteng</td>
                    <td class="pt-3-half" contenteditable="false">Cresta</td>
                </tr>
            </table>
        </div>
    </div>
</div>